body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Stick No Bills', sans-serif;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

/* Loading screen start */

#loader_block {
    background: linear-gradient(90deg, #273D58 0%, #1A0505 100%);
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    z-index: 100000;
    transition: opacity 300ms ease-in-out;
}

#loader_block span {
    border-radius: 50%;
    border: 6px solid white;
    margin: 10px;
    opacity: 0.4;
}

#loader_block span:nth-child(1) {
    animation: preloader 1s ease-in-out alternate infinite;
}

#loader_block span:nth-child(2) {
    animation: preloader 1s ease-in-out alternate .3s infinite;
}

#loader_block span:nth-child(3) {
    animation: preloader 1s ease-in-out alternate .6s infinite;
}

@keyframes preloader {
    100% {
        transform: scale(2);
        opacity: 1;
    }
}

/* Loading screen end */


/* Nav start */

#navbar-wrap {
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 101;
    transition: top 500ms ease-in-out;
}

#navbar {
    display: grid;
    min-height: 105px;
    grid-auto-flow: column;
    background: linear-gradient(0deg, rgba(30, 23, 32, 0) 0%, rgba(20, 15, 21, 0.8) 50%, rgb(13, 8, 13) 80%);
    grid-gap: 1.5em;
    padding: 0 40px;
}

#logo {
    display: grid;
    justify-content: start;
    align-content: center;
    font-size: 30px;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
}

.logo img {
    width: 12rem;
}

#links {
    display: flex;
    justify-content: right;
    gap: 5vw;
    align-items: center;
    transform: translateY(-0.5rem);
}

#links a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.navitem:after {
    content: " ";
    background: #ef32329f;
    height: 0.2rem;
    border-radius: 0.1rem;
    margin-top: 0.3rem;
    width: 0%;
    left: 50%;
    display: block;
    position: relative;
    transition: 0.5s;
}

.navitem:hover::after {
    width: 100%;
    left: 0%;
}

#navbtn {
    background: #e43131;
    padding: 0.7rem 2rem;
    border-radius: 2rem;
    transform: translateY(-0.2rem);
    transition: 0.5s;
    margin-right: 1vw;
}

#navbtn:hover {
    background: #b11414;
    transform: scale(0.98) translateY(-0.2rem);
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: #171017;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 20px 32px;
    text-decoration: none;
    color: white;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #e43131;
}

.sidenav a:last-of-type {
    background: #b11414;
    color: white;
    padding-top: 1.2rem;
    transition: background 0.3s;
}

.sidenav a:last-of-type:hover {
    background: rgb(123, 7, 7);
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.mobile-btn {
    color: #e43131;
    transform: scale(0.9) translateY(-1.1rem);
}

@media (max-width: 897px) {

    #links,
    .mobile-menu {
        display: none;
    }

    #logo {
        display: flex;
        align-items: center;
    }

    .logo {
        transform: translateY(0);
        display: flex;
        width: 100%;
        padding-right: 15px;
        justify-content: center;
    }

    .logo img {
        transform: translateY(-0.8rem);
    }

    #navbar {
        padding: 0 25px;
    }
}

@media (min-width: 860px) {
    .mobile-btn {
        display: none;
    }
}

/* Nav end */

/* Footer section start  */

#footer {
    background: linear-gradient(90deg, #273D58 0%, #1A0505 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    color: white;
    padding: 5rem 0;
}

#footer-logo {
    width: 245px;
}

.social-icon {
    margin-right: 1rem;
}

.social-icon:last-of-type {
    margin-right: 0;
}

.social-icon img {
    transition: .3s ease-in-out;
}

.social-icon:hover img {
    transform: scale(0.9);
}

/* Footer end */