{% extends 'base.html' %}
{% block title %}Advaita IIIT-BH | The Hymn of Paradox | Odisha's Biggest Techno-Cultural Fest {% endblock title %}Advaita IIIT-BH | Odisha's 
{% block body %}
    <section id="herosection">
        <div id="herologo">
            <img src= "/static/images/home/herologo.webp">
            <div id="herologotext">"Oops! It looks like you've taken a wrong turn. Click <a href = "/"> Me </a> to land back home!"</div>
        </div>
        <div id="herocards">
            <div class="swiper mySwiper" data-aos="fade-up">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="herocard">
                            <img src="/static/images/home/herocard3.webp">
                            <div class="herocardbg">The company of your favourite peers</div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="herocard">
                            <img src="/static/images/home/herocard2.webp">
                            <div class="herocardbg">The enchanting sounds of the hymns</div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="herocard">
                            <img src="/static/images/home/herocard1.webp">
                            <div class="herocardbg">The most memorable nights of your life</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% endblock body %}
    