{% extends 'base.html' %}
{% block title %}Event Details{% endblock title %}
{% block extracss %} <link rel="stylesheet" href="/static/css/eventdetails.css">{% endblock extracss %}
{% block body %}
    <section id="events">
        <div id="eventsdesc">
            <div>{{heading}}</div>
            <div>Lorem ipsum dolor sit amet consectetur. Est leo morbi vitae mi et. Arcu elit viverra malesuada etiam.
                Penatibus sit blandit sit ultrices. Vulputate ac in egestas scelerisque. Sagittis at dolor ac id. Amet
                sapien viverra tristique blandit quis molestie odio quis egestas. Viverra ultrices cursus ac sodales
                convallis et sollicitudin. Sit justo venenatis.</div>
        </div>
        <img src="/static/images/events/tech.png">
    </section>

    <section id="schedule">
        <div class="redtext">SCHEDULE</div>

        <section class="timeline">
            <div class="container">
                {% for x in events  %}
                <div class="timeline-item">
                    <div class="timeline-img"></div>
                    <div class="timeline-content timeline-card">
                        <h2>{{x.name}}</h2>
                        <div class="date">{{x.timeslot}}</div>
                        <p>{{x.description}}<br>
                            <img src="/media/{{x.thumbnail}}">
                        </p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </section>
    </section>
    {% endblock body %}