{% extends 'base.html' %}
{% block title %}Events | Advaita IIIT-Bh{% endblock title %}
{% block extracss %} <link rel="stylesheet" href="../static/css/events.css">{% endblock extracss %}
{% block body %}
    <section id="events">
        <div id="eventsdesc">
            <div>EVENTS AND SCHEDULE</div>
            <div>Advaita is all about making memories. Memories which  both you and us , will cherish for a lifetime, but without the flavours of a variety of events these memories do seem a bit flavourless and thats is why we have a broad range of events from technical to robotics, from singing to dancing, from gaming to foos, just name it and we have it all covered!! So whats the wait for? Check out all thsee amazing events of which you can be a part and help in making our memories more pleasurable.</div>
        </div>
        <img src="../static/images/events/hero.webp">
    </section>

    {% comment %} <section id="schedule">
        <div class="redtext">SCHEDULE</div>
        <div id="schCards">
            <div class="scheduleCard small">
                <img src="../static/images/events/schedule1.png">
                <div>DAY 1</div>
            </div>
            <div class="scheduleCard">
                <img src="../static/images/events/schedule2.png">
                <div>DAY 2</div>
            </div>
            <div class="scheduleCard small">
                <img src="../static/images/events/schedule3.png">
                <div>DAY 3</div>
            </div>
        </div>
    </section> {% endcomment %}

    <section id="eventsList">
        <div class="redtext">EVENTS</div>
        <div class="eventCards">
            <a href="/events/technicalevents">
                <div class="eventCardWrap">
                    <div class="eventCard">
                        <div>TECHNICAL<br>EVENTS</div>
                        <div>
                            Ready to unravel the tech giant within you? We have the best in store for you. Starting from hackathons to fun contests to tech talks, let's discover your innovative side! Think you are the best? Well you can make a statement here!!!

                        </div>
                    </div>
                    <div class="eventCardBg"></div>
                </div>
            </a>
            <a href="/events/culturalevents">
                <div class="eventCardWrap">
                    <div class="eventCard">
                        <div>CULTURAL<br>EVENTS</div>
                        <div>
                            Hey singers and dancers! Here's your chance to enchant the whole arena with your charming voice or set the stage on fire with your dazzling dance steps as you participate and compete with the best. 

                        </div>
                    </div>
                    <div class="eventCardBg"></div>
                </div>
            </a>
            <a href="/events/filmandtheatre">
                <div class="eventCardWrap">
                    <div class="eventCard">
                        <div>Film and Theatre<br>Litfest</div>
                        <div>
                            Haven't had enough chances to show off your acting skills? Scared that people might judge you? Don't have enough confidence? Don't worry we will set the stage for you but the main question is ARE YOU READY to bring out the "kalakar" ?

                        </div>
                    </div>
                    <div class="eventCardBg"></div>
                </div>
            </a>
            <a href="/events/paracosm">
                <div class="eventCardWrap">
                    <div class="eventCard">
                        <div>Art<br></div>
                        <div>
                            Artist? Not an artist? Well it doesn't really matter. They say art lies all around us . Well we don't deny and nor would you after being a part of the plethora of amazing events we bring to you. 

                        </div>
                    </div>
                    <div class="eventCardBg"></div>
                </div>
            </a>
            <a href="/events/esports">
                <div class="eventCardWrap">
                    <div class="eventCard">
                        <div>E-Sports<br></div>
                        <div>
                            Hola gamers!!! How can we start the party without ya all. We are officially sending the invitation to you for the ultimate battle  let's see if you have what it takes to win it. May the best say Gg.

                        </div>
                    </div>
                    <div class="eventCardBg"></div>
                </div>
            </a>
            <a href="/events/food">
                <div class="eventCardWrap">
                    <div class="eventCard">
                        <div>Food</div>
                        <div>
                            Any foodies here? Well we do hope so coz we have a lot amazing flavours in our hands where you not only get to cook exotic delicacies but also get to flaunt your eating skills.
                        </div>
                    </div>
                    <div class="eventCardBg"></div>
                </div>
            </a>
            <a href="/events/csr">
                <div class="eventCardWrap">
                    <div class="eventCard">
                        <div>CSR</div>
                        <div>
                            Lorem ipsum dolor sit amet consectetur. Est leo morbi vitae mi et. Arcu elit viverra
                            malesuada
                            etiam. Penatibus sit blandit sit ultrices. Vulputate ac in egestas scelerisque. Sagittis at
                            dolor ac
                            id.
                        </div>
                    </div>
                    <div class="eventCardBg"></div>
                </div>
            </a>
        </div>
    </section>

    {% endblock body %}