{% extends 'base.html' %}
{% block title %}Advaita IIIT-BH | Odisha's Biggest Techno-Cultural Fest {% endblock title %}Advaita IIIT-BH | Odisha's 
{% block body %}
    <section id="herosection">
        <div id="herologo">
            <img src= "/static/images/home/herologo.webp">
            <div id="herologotext">16 FEBRUARY - 19 FEBRUARY 2022</div>
        </div>
        <div id="herocards">
            <div class="swiper mySwiper" data-aos="fade-up">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="herocard">
                            <img src="/static/images/home/herocard3.webp">
                            <div class="herocardbg">Lorem Ipsum</div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="herocard">
                            <img src="/static/images/home/herocard2.webp">
                            <div class="herocardbg">Lorem Ipsum</div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="herocard">
                            <img src="/static/images/home/herocard1.webp">
                            <div class="herocardbg">Lorem Ipsum</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="about">
        <div id="aboutcontent">
            <div>ADVAITA 2K23</div>
            <div>Lorem ipsum dolor sit amet consectetur. Est leo morbi vitae mi et. Arcu elit viverra malesuada etiam.
                Penatibus sit blandit sit ultrices. Vulputate ac in egestas scelerisque. Sagittis at dolor ac id. Amet
                sapien viverra tristique blandit quis molestie odio quis egestas. Viverra ultrices cursus ac sodales
                convallis et sollicitudin. Sit justo venenatis odio tempus sed id cursus. Gravida faucibus a amet
                mus. Sit justo venenatis odio tempus sed id cursus. Gravida faucibus a amet mus.
            </div>
        </div>
        <div><img src="/static/images/home/stage.webp"></div>
    </section>

    <section id="features">
        <div>
            <div>5+ FUN<br>EVENTS</div>
        </div>
        <div>
            <div>3+ PRO<br>SHOWS</div>
        </div>
        <div>
            <div>10+ TECHNICAL<br>EVENTS</div>
        </div>
        <div>
            <div>10+ CULTURAL<br>EVENTS</div>
        </div>
    </section>

    <section id="ytvideo">
        <iframe
            src="https://www.youtube.com/embed/BRAvwTguv3I?autoplay=1&mute=1&modestbranding=1&showinfo=0&loop=1&playlist=BRAvwTguv3I"
            title="YouTube video player" frameborder="0" allow="autoplay;" allowfullscreen></iframe>

        <h4 class="stitle">SPONSORS</h4>
        <div id="herocards">
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="herocard">
                            <img src="https://via.placeholder.com/300x200.webp?text=SPONSOR+LOGO">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="herocard">
                            <img src="https://via.placeholder.com/300x200.webp?text=SPONSOR+LOGO">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="herocard">
                            <img src="https://via.placeholder.com/300x200.webp?text=SPONSOR+LOGO">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="contacts">
        <div id="contactcon">
            <div>ADVAITA 2K23</div>
            <div>Lorem ipsum dolor sit amet consectetur. Est leo morbi vitae mi et. Arcu elit viverra
                malesuada etiam.
                Penatibus sit blandit sit ultrices. Vulputate ac in egestas scelerisque. Sagittis at dolor ac id. Amet
                sapien viverra tristique blandit quis molestie odio quis egestas. Viverra ultrices cursus ac sodales
                convallis et </div>
        </div>
        <div>
            <div>Quick Links</div>
            <div id="quicklinks">
                <div>
                    <a href="/event">Technical Events</a>
                    <a href="/event">Cultural Events</a>
                    <a href="/pronites.html">Pro Nites</a>
                    <a href="">Exhibition</a>
                    <a href="">Fun Events</a>
                </div>
                <div>
                    <a href="">Workshop</a>
                    <a href="/sponsor.html">Sponsors</a>
                    <a href="">Privacy Policy</a>
                    <a href="">Terms & Conditions</a>
                </div>
            </div>
        </div>
        <div id="connectwithus">
            <div>Connect With Us</div>
            <div id="contactdetails">
                <div><i class="fa-solid fa-location-dot contact-icon"></i>IIIT BHUBANESWAR, Gothapatna - 751003</div>
                <div><i class="fa-solid fa-phone contact-icon"></i>+91 9876543210</div>
                <div><i class="fa-solid fa-envelope contact-icon"></i>loremipsum@gmail.com</div>
            </div>
        </div>
    </section>
    {% endblock body %}
    