{% extends 'base.html' %}
{% block title %}Advaita IIIT-BH | The Hymn of Paradox | Odisha's Biggest Techno-Cultural Fest {% endblock title %}Advaita IIIT-BH | Odisha's 
{% block body %}
    <section id="herosection">
        <div id="herologo">
            <img src= "/static/images/home/herologo.webp">
            <div id="herologotext">2nd March - 5th March 2023</div>
        </div>
        <div id="herocards">
            <div class="swiper mySwiper" data-aos="fade-up">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="herocard">
                            <img src="/static/images/home/herocard3.webp">
                            <div class="herocardbg">The company of your favourite peers</div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="herocard">
                            <img src="/static/images/home/herocard2.webp">
                            <div class="herocardbg">The enchanting sounds of the hymns</div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="herocard">
                            <img src="/static/images/home/herocard1.webp">
                            <div class="herocardbg">The most memorable nights of your life</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="about">
        <div id="aboutcontent">
            <div>ADVAITA 2K23</div>
            <div>Advaita, the annual techno-cultural fest of IIIT Bhubaneswar, is organized in the first week of March spanning over four days and four nights. Commenced with a motto of providing technocrats all over the country, a platform to showcase their technical skills and talent, Advaita has come a long way over the years since its inception.It is one of the eminent fests in the eastern region of the Indian subcontinent today which has made an impact on several college-going students across the country. With different, captivating themes each year, the fest has recorded immense participation in the past and this year will be no different. This Fest conducts a multitude of events encompassing 12 genres and more than 50 events.Get a chance to test your wits and prove your intelligence by enjoying the extraordinary opportunity of being a part of this astounding techno-cultural fest. 
            </div>
        </div>
        <div><img src="/static/images/home/stage.webp"></div>
    </section>

    <section id="features">
        <div>
            <div>15+ FUN<br>EVENTS</div>
        </div>
        <div>
            <div>3+ PRO<br>SHOWS</div>
        </div>
        <div>
            <div>10+ TECHNICAL<br>EVENTS</div>
        </div>
        <div>
            <div>10+ CULTURAL<br>EVENTS</div>
        </div>
    </section>

    <section id="ytvideo">
        <iframe
            src="https://www.youtube.com/embed/BRAvwTguv3I?autoplay=1&mute=1&modestbranding=1&showinfo=0&loop=1&playlist=BRAvwTguv3I"
            title="YouTube video player" frameborder="0" allow="autoplay;" allowfullscreen></iframe>
        <h4 class="stitle">SPONSORS</h4>
        <div id="herocards">
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="herocard">
                            <img src="https://via.placeholder.com/300x200.webp?text=SPONSOR+LOGO">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="herocard">
                            <img src="https://via.placeholder.com/300x200.webp?text=SPONSOR+LOGO">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="herocard">
                            <img src="https://via.placeholder.com/300x200.webp?text=SPONSOR+LOGO">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="contacts">
        <div id="contactcon">
            <div>ADVAITA 2K23</div>
            <div>Advaita, the annual techno-cultural fest of IIIT Bhubaneswar, is organized in the first week of March spanning over four days and four nights. 
                Commenced with a motto of providing technocrats all over the country, a platform to showcase their technical skills and talent, Advaita has come a long way over the years since its inception
            </div>
        </div>
        <div>
            <div>Quick Links</div>
            <div id="quicklinks">
                <div>
                    <a href="/events/technicalevents">Technical Events</a>
                    <a href="/events/culturalevents">Cultural Events</a>
                    <a href="/pronites">Pro Nites</a>
                    <a href="/events/paracosm">Paracosm</a>
                    <a href="/events/esports">E-Sports</a>
                </div>
                <div>
                    <a href="/events/photography">Photography</a>
                    <a href="/sponsors">Sponsors</a>
                    <a href="">Privacy Policy</a>
                    <a href="">Terms & Conditions</a>
                </div>
            </div>
        </div>
        <div id="connectwithus">
            <div>Connect With Us</div>
            <div id="contactdetails">
                <div><i class="fa-solid fa-location-dot contact-icon"></i>IIIT BHUBANESWAR, Gothapatna - 751003</div>
                <div><i class="fa-solid fa-phone contact-icon"></i>+91 9876543210</div>
                <div><i class="fa-solid fa-envelope contact-icon"></i>advaita@iiit-bh.ac.in</div>
            </div>
        </div>
    </section>
    {% endblock body %}
    