{% extends 'base.html' %}
{% block title %}Pronites | Advaita IIIT-Bh{% endblock title %}
{% block extracss %} <link rel="stylesheet" href="/static/css/pronites.css">{% endblock extracss %}
{% block body %}
    <section class="pronites">
        <div class="pronitescontent">
            <div>PRO NITES</div>
            <div>
                <p>Lorem ipsum dolor sit amet consectetur. Est leo morbi vitae mi et. Arcu elit viverra malesuada etiam.
                    Penatibus sit blandit sit ultrices. Vulputate ac in egestas scelerisque. Sagittis at dolor ac id.
                    Amet
                    sapien viverra tristique blandit quis molestie odio quis egestas. Viverra ultrices cursus ac sodales
                    convallis et sollicitudin. Sit justo venenatis odio tempus sed id cursus. Gravida faucibus a amet
                    mus. Sit justo venenatis odio tempus sed id cursus. Gravida faucibus a amet mus.
                </p>
            </div>
        </div>
        <div><img src="../static/images/pronites/pro-nites.svg"></div>
    </section>
    <section class="pronites events">
        <div><img src="../static/images/pronites/loremipsum.svg"></div>
        <div class="eventscontent">
            <div>
                <p>Lorem ipsum dolor sit amet consectetur. Est leo morbi vitae mi et. Arcu elit viverra malesuada etiam.
                    Penatibus sit blandit sit ultrices. Vulputate ac in egestas scelerisque. Sagittis at dolor ac id.
                    Amet
                    sapien viverra tristique blandit quis molestie odio quis egestas. Viverra ultrices cursus ac sodales
                    convallis et sollicitudin. Sit justo venenatis odio tempus sed id cursus. Gravida faucibus a amet
                    mus. Sit justo venenatis odio tempus sed id cursus. Gravida faucibus a amet mus.
                </p>
            </div>
        </div>
    </section>
    <section class="pronites events">
        <div class="eventscontent">
            <div>
                <p>Lorem ipsum dolor sit amet consectetur. Est leo morbi vitae mi et. Arcu elit viverra malesuada etiam.
                    Penatibus sit blandit sit ultrices. Vulputate ac in egestas scelerisque. Sagittis at dolor ac id.
                    Amet
                    sapien viverra tristique blandit quis molestie odio quis egestas. Viverra ultrices cursus ac sodales
                    convallis et sollicitudin. Sit justo venenatis odio tempus sed id cursus. Gravida faucibus a amet
                    mus. Sit justo venenatis odio tempus sed id cursus. Gravida faucibus a amet mus.
                </p>
            </div>
        </div>
        <div><img src="../static/images/pronites/loremipsum.svg"></div>
    </section>
    <section class="pronites events">
        <div><img src="../static/images/pronites/loremipsum.svg"></div>
        <div class="eventscontent">
            <div>
                <p>Lorem ipsum dolor sit amet consectetur. Est leo morbi vitae mi et. Arcu elit viverra malesuada etiam.
                    Penatibus sit blandit sit ultrices. Vulputate ac in egestas scelerisque. Sagittis at dolor ac id.
                    Amet
                    sapien viverra tristique blandit quis molestie odio quis egestas. Viverra ultrices cursus ac sodales
                    convallis et sollicitudin. Sit justo venenatis odio tempus sed id cursus. Gravida faucibus a amet
                    mus. Sit justo venenatis odio tempus sed id cursus. Gravida faucibus a amet mus.
                </p>
            </div>
        </div>
    </section>
{% endblock body %}