{% extends 'base.html' %}
{% block title %}Pronites | Advaita IIIT-Bh{% endblock title %}
{% block extracss %} <link rel="stylesheet" href="/static/css/pronites.css">{% endblock extracss %}
{% block body %}
    <section class="pronites">
        <div class="pronitescontent">
            <div>PRO NITES</div>
            <div>
                <p>Unleash the fun at the concerts of some of India's finest musicians, comedians, and DJs! Get ready to groove and make memories that'll last a lifetime. Not only will you breathe fun-filled flavours of air, and meet new people; but you'll also become a part of an ever-blossoming community of IIIT Bhubaneswar. So, buckle up and grab your squad and let the good vibes roll, adding an extra perfection to the hymn of your steps
                </p>
            </div>
        </div>
        <div><img src="/static/images/pronites/pro-nites.svg"></div>
    </section>
    {% for x in pronites  %}
    <section class="pronites events">
        <div><img src="/media/{{x.thumbnail}}"></div>
        <div class="eventscontent">
            <div>
                <p>{{x.description}}
                </p>
            </div>
        </div>
    </section>
    {% endfor %}
{% endblock body %}