{% extends 'base.html' %}
{% block title %}Sponsors | Advaita IIIT-Bh{% endblock title %}
{% block extracss %}<link rel="stylesheet" href="/static/css/sponsors.css">{% endblock extracss %}
{% block body %}
    <section id="sponsor">
        <div class="left-box">
            <div class="sponsors">
                <h2>SPONSORS</h2>
                <p>How can we forget our sponsors who have helped us so much and in so many different ways to pull off this year's advaita. As we thank all of them for their contributions to our Fest, our sole wish for you is to have a glance at all this amazing brands,vompanies and startups!</p>
            </div>
            <div class="contact">
                <h3 class="contacts">CONTACT US</h3>
                <p class="contacts">Priyanshu - 7217897280 <br>Anshul - 9877950678 <br> Sanskriti - 8260650379
                    <br>
                </p>
            </div>
        </div>
        <div class="right-box">
            <div class="right-column">
                <h4>TITLE SPONSOR</h4>
                <div class="threelogos">
                    <img src="https://via.placeholder.com/300x200.webp?text=SPONSOR+LOGO" class="splogo">
                    <img src="https://via.placeholder.com/300x200.webp?text=SPONSOR+LOGO" class="splogo">
                    <img src="https://via.placeholder.com/300x200.webp?text=SPONSOR+LOGO" class="splogo">
                </div>
            </div>
            <div class="right-column">
                <h4>ASSOCIATIVE TITLE SPONSOR</h4>
                <div class="threelogos">
                    <img src="https://via.placeholder.com/300x200.webp?text=SPONSOR+LOGO" class="splogo">
                    <img src="https://via.placeholder.com/300x200.webp?text=SPONSOR+LOGO" class="splogo">
                    <img src="https://via.placeholder.com/300x200.webp?text=SPONSOR+LOGO" class="splogo">
                </div>
            </div>
            <div class="right-column">
                <h4>CO-TITLE SPONSOR</h4>
                <div class="threelogos">
                    <img src="https://via.placeholder.com/300x200.webp?text=SPONSOR+LOGO" class="splogo">
                    <img src="https://via.placeholder.com/300x200.webp?text=SPONSOR+LOGO" class="splogo">
                    <img src="https://via.placeholder.com/300x200.webp?text=SPONSOR+LOGO" class="splogo">
                </div>
            </div>
            <div class="right-column">
                <h4>LOREM IPSUM</h4>
                <div class="threelogos">
                    <img src="https://via.placeholder.com/300x200.webp?text=SPONSOR+LOGO" class="splogo">
                    <img src="https://via.placeholder.com/300x200.webp?text=SPONSOR+LOGO" class="splogo">
                    <img src="https://via.placeholder.com/300x200.webp?text=SPONSOR+LOGO" class="splogo">
                </div>
            </div>
            <div class="right-column">
                <h4>LOREM IPSUM</h4>
                <div class="threelogos">
                    <img src="https://via.placeholder.com/300x200.webp?text=SPONSOR+LOGO" class="splogo">
                    <img src="https://via.placeholder.com/300x200.webp?text=SPONSOR+LOGO" class="splogo">
                    <img src="https://via.placeholder.com/300x200.webp?text=SPONSOR+LOGO" class="splogo">
                </div>
            </div>
            <div class="right-column">
                <h4>LOREM IPSUM</h4>
                <div class="threelogos">
                    <img src="https://via.placeholder.com/300x200.webp?text=SPONSOR+LOGO" class="splogo">
                    <img src="https://via.placeholder.com/300x200.webp?text=SPONSOR+LOGO" class="splogo">
                    <img src="https://via.placeholder.com/300x200.webp?text=SPONSOR+LOGO" class="splogo">
                </div>
            </div>
            <div class="right-column">
                <h4>LOREM IPSUM</h4>
                <div class="threelogos">
                    <img src="https://via.placeholder.com/300x200.webp?text=SPONSOR+LOGO" class="splogo">
                    <img src="https://via.placeholder.com/300x200.webp?text=SPONSOR+LOGO" class="splogo">
                    <img src="https://via.placeholder.com/300x200.webp?text=SPONSOR+LOGO" class="splogo">
                </div>
            </div>
        </div>
    </section>
    {% endblock body %}