{% extends 'base.html' %}
{% block title %}Sponsors | Advaita IIIT-Bh{% endblock title %}
{% block extracss %}<link rel="stylesheet" href="/static/css/sponsors.css">{% endblock extracss %}
{% block body %}
    <section id="sponsor">
        <div class="left-box">
            <div class="sponsors">
                <h2>SPONSORS</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias ullam repudiandae voluptatibus
                    inventore
                    ad
                    tenetur reprehenderit. Quod nulla dicta soluta illo. Asperiores quia deserunt recusandae? Esse
                    reprehenderit
                    officiis sint et!</p>
            </div>
            <div class="contact">
                <h3 class="contacts">CONTACT US</h3>
                <p class="contacts">lorem Ipsum - 0000000000 <br>lorem Ipsum - 0000000000 <br>lorem Ipsum - 0000000000
                    <br>
                </p>
            </div>
        </div>
        <div class="right-box">
            <div class="right-column">
                <h4>TITLE SPONSOR</h4>
                <div class="threelogos">
                    <img src="https://via.placeholder.com/300x200.webp?text=SPONSOR+LOGO" class="splogo">
                    <img src="https://via.placeholder.com/300x200.webp?text=SPONSOR+LOGO" class="splogo">
                    <img src="https://via.placeholder.com/300x200.webp?text=SPONSOR+LOGO" class="splogo">
                </div>
            </div>
            <div class="right-column">
                <h4>ASSOCIATIVE TITLE SPONSOR</h4>
                <div class="threelogos">
                    <img src="https://via.placeholder.com/300x200.webp?text=SPONSOR+LOGO" class="splogo">
                    <img src="https://via.placeholder.com/300x200.webp?text=SPONSOR+LOGO" class="splogo">
                    <img src="https://via.placeholder.com/300x200.webp?text=SPONSOR+LOGO" class="splogo">
                </div>
            </div>
            <div class="right-column">
                <h4>CO-TITLE SPONSOR</h4>
                <div class="threelogos">
                    <img src="https://via.placeholder.com/300x200.webp?text=SPONSOR+LOGO" class="splogo">
                    <img src="https://via.placeholder.com/300x200.webp?text=SPONSOR+LOGO" class="splogo">
                    <img src="https://via.placeholder.com/300x200.webp?text=SPONSOR+LOGO" class="splogo">
                </div>
            </div>
            <div class="right-column">
                <h4>LOREM IPSUM</h4>
                <div class="threelogos">
                    <img src="https://via.placeholder.com/300x200.webp?text=SPONSOR+LOGO" class="splogo">
                    <img src="https://via.placeholder.com/300x200.webp?text=SPONSOR+LOGO" class="splogo">
                    <img src="https://via.placeholder.com/300x200.webp?text=SPONSOR+LOGO" class="splogo">
                </div>
            </div>
            <div class="right-column">
                <h4>LOREM IPSUM</h4>
                <div class="threelogos">
                    <img src="https://via.placeholder.com/300x200.webp?text=SPONSOR+LOGO" class="splogo">
                    <img src="https://via.placeholder.com/300x200.webp?text=SPONSOR+LOGO" class="splogo">
                    <img src="https://via.placeholder.com/300x200.webp?text=SPONSOR+LOGO" class="splogo">
                </div>
            </div>
            <div class="right-column">
                <h4>LOREM IPSUM</h4>
                <div class="threelogos">
                    <img src="https://via.placeholder.com/300x200.webp?text=SPONSOR+LOGO" class="splogo">
                    <img src="https://via.placeholder.com/300x200.webp?text=SPONSOR+LOGO" class="splogo">
                    <img src="https://via.placeholder.com/300x200.webp?text=SPONSOR+LOGO" class="splogo">
                </div>
            </div>
            <div class="right-column">
                <h4>LOREM IPSUM</h4>
                <div class="threelogos">
                    <img src="https://via.placeholder.com/300x200.webp?text=SPONSOR+LOGO" class="splogo">
                    <img src="https://via.placeholder.com/300x200.webp?text=SPONSOR+LOGO" class="splogo">
                    <img src="https://via.placeholder.com/300x200.webp?text=SPONSOR+LOGO" class="splogo">
                </div>
            </div>
        </div>
    </section>
    {% endblock body %}