<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="theme-color" content="#000000">
    <meta property="og:type" content="website" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Advaita</title>
    <meta itemprop="name" content="Advaita" />
    <meta property="og:title" content="Advaita" />
    <meta name="twitter:title" content="Advaita">

    <meta itemprop="image" content="https://url-to-thumbnail" />
    <meta name="twitter:image" content="https://url-to-thumbnail" />
    <meta name="twitter:image:src" content="https://url-to-thumbnail">
    <meta property="og:image" content="https://url-to-thumbnail">

    <link rel="icon" href="https://url-to-icon" />
    <link rel="apple-touch-icon" href="https://url-to-icon" />
    <link rel="shortcut icon" href="https://url-to-icon" type="image/x-icon">

    <meta itemprop="description" content="Advaita site description goes here...!" />
    <meta property="og:description" content="Advaita site description goes here...!" />
    <meta name="twitter:description" content="Advaita site description goes here...!" />
    <meta name="description" content="Advaita site description goes here...!">

    <script src="../static/js/common.js" defer></script>
    <link rel="stylesheet" href="../static/css/common.css">
    <link rel="stylesheet" href="../static/css/sponsors.css">

    <script src="https://kit.fontawesome.com/20aa92e9f6.js" crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Stick+No+Bills:wght@800&display=swap"
        rel="stylesheet">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Stick+No+Bills:wght@800&display=swap');
    </style>

</head>

<body>

    <div id="loader_block">
        <span></span>
        <span></span>
        <span></span>
    </div>

    <nav id="navbar-wrap">
        <div id="navbar">
            <div data-aos="fade-down" id="logo" class="reverse">
                <div class="mobile-btn" style="font-size:30px;cursor:pointer; font-weight:bold;" onclick="openNav()">
                    <i class="fa-solid fa-bars fa-lg"></i>
                </div>
                <div class="logo"><a href="../"><img src="../static/images/home/navlogo.webp"></a>
                </div>
            </div>
            <div id="links" data-aos="fade-down">
                <a class="navitem" href="../events">Events</a>
                <a class="navitem" href="../pronites">Pro Nites</a>
                <a class="navitem" href="../sponsors">Sponsors</a>
                <a class="navitem" href="../contact">Contact Us</a>
                <a id="navbtn" href="#">Register</a>
            </div>
        </div>

        <div id="mySidenav" class="sidenav">
            <a style="cursor:pointer;" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="../events">Events</a>
            <a href="../pronites">Pro Nites</a>
            <a href="../sponsors">Sponsors</a>
            <a href="../contact">Contact Us</a>
            <a href="#">Register</a>
        </div>
    </nav>

    <section id="sponsor">
        <div class="left-box">
            <div class="sponsors">
                <h2>SPONSORS</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias ullam repudiandae voluptatibus
                    inventore
                    ad
                    tenetur reprehenderit. Quod nulla dicta soluta illo. Asperiores quia deserunt recusandae? Esse
                    reprehenderit
                    officiis sint et!</p>
            </div>
            <div class="contact">
                <h3 class="contacts">CONTACT US</h3>
                <p class="contacts">lorem Ipsum - 0000000000 <br>lorem Ipsum - 0000000000 <br>lorem Ipsum - 0000000000
                    <br>
                </p>
            </div>
        </div>
        <div class="right-box">
            <div class="right-column">
                <h4>TITLE SPONSOR</h4>
                <div class="threelogos">
                    <img src="https://via.placeholder.com/300x200.webp?text=SPONSOR+LOGO" class="splogo">
                    <img src="https://via.placeholder.com/300x200.webp?text=SPONSOR+LOGO" class="splogo">
                    <img src="https://via.placeholder.com/300x200.webp?text=SPONSOR+LOGO" class="splogo">
                </div>
            </div>
            <div class="right-column">
                <h4>ASSOCIATIVE TITLE SPONSOR</h4>
                <div class="threelogos">
                    <img src="https://via.placeholder.com/300x200.webp?text=SPONSOR+LOGO" class="splogo">
                    <img src="https://via.placeholder.com/300x200.webp?text=SPONSOR+LOGO" class="splogo">
                    <img src="https://via.placeholder.com/300x200.webp?text=SPONSOR+LOGO" class="splogo">
                </div>
            </div>
            <div class="right-column">
                <h4>CO-TITLE SPONSOR</h4>
                <div class="threelogos">
                    <img src="https://via.placeholder.com/300x200.webp?text=SPONSOR+LOGO" class="splogo">
                    <img src="https://via.placeholder.com/300x200.webp?text=SPONSOR+LOGO" class="splogo">
                    <img src="https://via.placeholder.com/300x200.webp?text=SPONSOR+LOGO" class="splogo">
                </div>
            </div>
            <div class="right-column">
                <h4>LOREM IPSUM</h4>
                <div class="threelogos">
                    <img src="https://via.placeholder.com/300x200.webp?text=SPONSOR+LOGO" class="splogo">
                    <img src="https://via.placeholder.com/300x200.webp?text=SPONSOR+LOGO" class="splogo">
                    <img src="https://via.placeholder.com/300x200.webp?text=SPONSOR+LOGO" class="splogo">
                </div>
            </div>
            <div class="right-column">
                <h4>LOREM IPSUM</h4>
                <div class="threelogos">
                    <img src="https://via.placeholder.com/300x200.webp?text=SPONSOR+LOGO" class="splogo">
                    <img src="https://via.placeholder.com/300x200.webp?text=SPONSOR+LOGO" class="splogo">
                    <img src="https://via.placeholder.com/300x200.webp?text=SPONSOR+LOGO" class="splogo">
                </div>
            </div>
            <div class="right-column">
                <h4>LOREM IPSUM</h4>
                <div class="threelogos">
                    <img src="https://via.placeholder.com/300x200.webp?text=SPONSOR+LOGO" class="splogo">
                    <img src="https://via.placeholder.com/300x200.webp?text=SPONSOR+LOGO" class="splogo">
                    <img src="https://via.placeholder.com/300x200.webp?text=SPONSOR+LOGO" class="splogo">
                </div>
            </div>
            <div class="right-column">
                <h4>LOREM IPSUM</h4>
                <div class="threelogos">
                    <img src="https://via.placeholder.com/300x200.webp?text=SPONSOR+LOGO" class="splogo">
                    <img src="https://via.placeholder.com/300x200.webp?text=SPONSOR+LOGO" class="splogo">
                    <img src="https://via.placeholder.com/300x200.webp?text=SPONSOR+LOGO" class="splogo">
                </div>
            </div>
        </div>
    </section>

    <section id="footer">
        <img src="../static/images/home/navlogo.webp" id="footer-logo">
        <div>
            <a href="" class="social-icon"><img src="../static/images/home/social-instagram.svg"></a>
            <a href="" class="social-icon"><img src="../static/images/home/social-youtube.svg"></a>
            <a href="" class="social-icon"><img src="../static/images/home/social-twitter.svg"></a>
        </div>
    </section>




</body>

</html>